{
  "openapi": "3.0.3",
  "info": {
    "title": "Voyon Folks HRMS Attendance Tool",
    "description": "Read-only tool that returns a team's attendance for a given date. Backed by the Voyon Folks HRMS. The backend owns the HRMS bearer token; it is never sent to or returned to the caller. This is the single OpenAPI tool registered with the Foundry agent.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://4n6qzp9c-5047.inc1.devtunnels.ms",
      "description": "Public HTTPS port-forward host (dev tunnel). Use the plain '<id>-<port>' host, NOT the '-inspect' diagnostics host (that one requires AAD login and returns a 302). NOT localhost."
    }
  ],
  "paths": {
    "/api/v1/tools/team-attendance": {
      "get": {
        "operationId": "getTeamAttendance",
        "summary": "Get a team's attendance for a date",
        "description": "Returns a summary and per-member attendance (present, absent, leave, weekly_off) for the team on the requested date, including check-in/out times, worked hours, shift times, and leave type.",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "The lookup date in YYYY-MM-DD format.",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2020-12-17"
            }
          },
          {
            "name": "team_id",
            "in": "query",
            "required": false,
            "description": "Team identifier. Omit to use the backend's default team.",
            "schema": {
              "type": "integer",
              "example": 34110
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The team's attendance for the date.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamAttendance"
                }
              }
            }
          },
          "400": {
            "description": "The date is missing or malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "The HRMS API rejected the credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "502": {
            "description": "The HRMS API is unreachable or returned a server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/tools/log-attendance": {
      "post": {
        "operationId": "logAttendance",
        "summary": "Record a live check-in or check-out (now)",
        "description": "Records a LIVE check-in or check-out for one team member (identified by their employeeCode) AT THE CURRENT TIME. This is a live punch — HRMS timestamps it on submission, so there is no date or time parameter and the punch cannot be set or backdated. ALWAYS confirm with the user before calling. The response reports success, or an { error } the assistant should explain.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogAttendanceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The result of the log attempt (success, or an error in the body).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogAttendanceResult"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TeamAttendance": {
        "type": "object",
        "required": ["date", "teamId", "summary", "employees"],
        "properties": {
          "date": {
            "type": "string",
            "format": "date",
            "example": "2020-12-17"
          },
          "teamId": {
            "type": "integer",
            "example": 34110
          },
          "summary": {
            "$ref": "#/components/schemas/AttendanceSummary"
          },
          "employees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmployeeAttendance"
            }
          }
        }
      },
      "AttendanceSummary": {
        "type": "object",
        "required": ["total", "present", "absent", "onLeave", "onWeeklyOff", "notReported"],
        "properties": {
          "total": { "type": "integer" },
          "present": { "type": "integer" },
          "absent": { "type": "integer" },
          "onLeave": { "type": "integer" },
          "onWeeklyOff": { "type": "integer" },
          "notReported": { "type": "integer" }
        }
      },
      "EmployeeAttendance": {
        "type": "object",
        "required": ["name", "employeeCode", "status", "shiftStart", "shiftEnd"],
        "properties": {
          "name": {
            "type": "string",
            "example": "Vishnu C Varghese"
          },
          "employeeCode": {
            "type": "string",
            "example": "895"
          },
          "status": {
            "type": "string",
            "enum": ["present", "absent", "leave", "weekly_off"]
          },
          "checkInTime": {
            "type": "string",
            "nullable": true,
            "example": "09:02"
          },
          "checkOutTime": {
            "type": "string",
            "nullable": true,
            "example": "18:05"
          },
          "workedHours": {
            "type": "string",
            "nullable": true,
            "example": "08:30"
          },
          "breakHours": {
            "type": "string",
            "nullable": true,
            "example": "01:00"
          },
          "shiftStart": {
            "type": "string",
            "example": "09:00"
          },
          "shiftEnd": {
            "type": "string",
            "example": "18:00"
          },
          "leaveType": {
            "type": "string",
            "nullable": true,
            "example": "Casual Leave"
          },
          "leaveReason": {
            "type": "string",
            "nullable": true,
            "description": "Only when on leave.",
            "example": "Family function"
          },
          "leaveStartDate": {
            "type": "string",
            "nullable": true,
            "description": "Only when on leave.",
            "example": "2024-04-22"
          },
          "leaveToDate": {
            "type": "string",
            "nullable": true,
            "description": "Only when on leave.",
            "example": "2024-04-24"
          },
          "leaveHours": {
            "type": "string",
            "nullable": true,
            "description": "Only when on leave.",
            "example": "08:00"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["code", "message"],
            "properties": {
              "code": {
                "type": "string",
                "example": "hrms_unauthorized"
              },
              "message": {
                "type": "string",
                "example": "The HRMS API rejected the request credentials."
              }
            }
          }
        }
      },
      "LogAttendanceRequest": {
        "type": "object",
        "required": ["employeeCode", "type"],
        "description": "A live punch. There is no date or time field — the punch is recorded at the current time.",
        "properties": {
          "employeeCode": {
            "type": "string",
            "description": "The member's employee code, as returned by getTeamAttendance.",
            "example": "1957"
          },
          "type": {
            "type": "string",
            "enum": ["check_in", "check_out"]
          },
          "teamId": {
            "type": "integer",
            "description": "Optional team id; omit to use the default team.",
            "example": 34110
          },
          "location": {
            "type": "string",
            "nullable": true
          },
          "comment": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "LogAttendanceResult": {
        "type": "object",
        "required": ["success", "employeeCode", "employeeName", "type", "message"],
        "properties": {
          "success": { "type": "boolean" },
          "employeeCode": { "type": "string", "example": "1957" },
          "employeeName": { "type": "string", "example": "Manju V" },
          "type": { "type": "string", "enum": ["check_in", "check_out"] },
          "message": { "type": "string", "example": "Recorded check-in for Manju V." }
        }
      }
    }
  }
}
