{
  "openapi": "3.0.3",
  "info": {
    "title": "Voyon Folks HRMS Attendance Tool (Individual)",
    "description": "Self-service attendance tools for the SIGNED-IN user. Reads the user's own attendance for a date or a month, and records the user's own live check-in/out. There is no employee or team identifier — the backend always acts on the signed-in user, resolved from their token. The backend owns the HRMS bearer token; it is never sent to or returned to the caller. This document describes the tool contract; the tools are declared inline on the Foundry agent and executed in the backend.",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://4n6qzp9c-5047.inc1.devtunnels.ms",
      "description": "Public HTTPS port-forward host (dev tunnel). Use the plain '<id>-<port>' host, NOT the '-inspect' diagnostics host (that one requires AAD login and returns a 302). NOT localhost."
    }
  ],
  "paths": {
    "/api/v1/tools/my-attendance": {
      "get": {
        "operationId": "getMyAttendance",
        "summary": "Get the signed-in user's attendance for a date",
        "description": "Returns the signed-in user's own attendance for the requested date: status (present, absent, leave, weekly_off, holiday), the day's check-in/out punches, worked/break hours, shift times, and leave type. Read-only. No employee or team argument — always the signed-in user.",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "required": true,
            "description": "The lookup date in YYYY-MM-DD format.",
            "schema": { "type": "string", "format": "date", "example": "2026-06-17" }
          }
        ],
        "responses": {
          "200": {
            "description": "The user's attendance for the date.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MyAttendance" } } }
          },
          "400": {
            "description": "The date is missing or malformed.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "401": {
            "description": "The HRMS API rejected the credentials.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "502": {
            "description": "The HRMS API is unreachable or returned a server error.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/api/v1/tools/my-monthly-attendance": {
      "get": {
        "operationId": "getMyMonthlyAttendance",
        "summary": "Get the signed-in user's attendance for a month",
        "description": "Returns the signed-in user's own attendance summary for a whole month: roll-up day counts (present, absent, leave, holiday, weekly off, offered) plus a per-day list with status, first check-in, last check-out, and worked hours. Read-only; for the signed-in user only.",
        "parameters": [
          {
            "name": "month",
            "in": "query",
            "required": true,
            "description": "Calendar month, 1-12.",
            "schema": { "type": "integer", "minimum": 1, "maximum": 12, "example": 6 }
          },
          {
            "name": "year",
            "in": "query",
            "required": true,
            "description": "Four-digit year.",
            "schema": { "type": "integer", "example": 2026 }
          }
        ],
        "responses": {
          "200": {
            "description": "The user's monthly attendance summary.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/MyMonthlyAttendance" } } }
          },
          "400": {
            "description": "The month or year is missing or invalid.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "401": {
            "description": "The HRMS API rejected the credentials.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          },
          "502": {
            "description": "The HRMS API is unreachable or returned a server error.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } }
          }
        }
      }
    },
    "/api/v1/tools/log-attendance": {
      "post": {
        "operationId": "logAttendance",
        "summary": "Record the signed-in user's live check-in or check-out (now)",
        "description": "Records a LIVE check-in or check-out for the SIGNED-IN user AT THE CURRENT TIME. This is a live punch — HRMS timestamps it on submission, so there is no date or time parameter and it cannot be backdated. There is no employee argument — it is always for the signed-in user. ALWAYS confirm with the user before calling. The response reports success, or an { error } the assistant should explain.",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LogAttendanceRequest" } } }
        },
        "responses": {
          "200": {
            "description": "The result of the log attempt (success, or an error in the body).",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LogAttendanceResult" } } }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MyAttendance": {
        "type": "object",
        "required": ["date", "status", "punches"],
        "properties": {
          "date": { "type": "string", "format": "date", "example": "2026-06-17" },
          "status": {
            "type": "string",
            "enum": ["present", "absent", "leave", "weekly_off", "holiday", "not_reported"]
          },
          "dayType": { "type": "string", "nullable": true, "example": "Working Day" },
          "shiftStart": { "type": "string", "nullable": true, "example": "09:00" },
          "shiftEnd": { "type": "string", "nullable": true, "example": "18:00" },
          "workedHours": { "type": "string", "nullable": true, "example": "08:30" },
          "breakHours": { "type": "string", "nullable": true, "example": "01:00" },
          "leaveHours": { "type": "string", "nullable": true, "description": "Only when on leave.", "example": "08:00" },
          "leaveType": { "type": "string", "nullable": true, "description": "Only when on leave.", "example": "Casual Leave" },
          "punches": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AttendancePunch" }
          }
        }
      },
      "AttendancePunch": {
        "type": "object",
        "properties": {
          "checkIn": { "type": "string", "nullable": true, "example": "09:02" },
          "checkOut": { "type": "string", "nullable": true, "example": "18:05" },
          "checkInLocation": { "type": "string", "nullable": true },
          "checkOutLocation": { "type": "string", "nullable": true }
        }
      },
      "MyMonthlyAttendance": {
        "type": "object",
        "required": ["month", "year", "summary", "days"],
        "properties": {
          "month": { "type": "integer", "example": 6 },
          "year": { "type": "integer", "example": 2026 },
          "summary": { "$ref": "#/components/schemas/MonthlySummary" },
          "days": { "type": "array", "items": { "$ref": "#/components/schemas/MyMonthlyDay" } }
        }
      },
      "MonthlySummary": {
        "type": "object",
        "required": ["offered", "present", "absent", "leave", "holiday", "weeklyOff"],
        "properties": {
          "offered": { "type": "number", "example": 22 },
          "present": { "type": "number", "example": 20 },
          "absent": { "type": "number", "example": 1 },
          "leave": { "type": "number", "example": 1 },
          "holiday": { "type": "number", "example": 2 },
          "weeklyOff": { "type": "number", "example": 8 }
        }
      },
      "MyMonthlyDay": {
        "type": "object",
        "required": ["date", "status"],
        "properties": {
          "date": { "type": "string", "format": "date", "example": "2026-06-17" },
          "status": {
            "type": "string",
            "enum": ["present", "absent", "leave", "weekly_off", "holiday", "not_reported"]
          },
          "firstCheckIn": { "type": "string", "nullable": true, "example": "09:02" },
          "lastCheckOut": { "type": "string", "nullable": true, "example": "18:05" },
          "workedHours": { "type": "string", "nullable": true, "example": "08:30" }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "required": ["code", "message"],
            "properties": {
              "code": { "type": "string", "example": "hrms_unauthorized" },
              "message": { "type": "string", "example": "The HRMS API rejected the request credentials." }
            }
          }
        }
      },
      "LogAttendanceRequest": {
        "type": "object",
        "required": ["type"],
        "description": "A live punch for the signed-in user. There is no employee, date, or time field — the punch is recorded at the current time.",
        "properties": {
          "type": { "type": "string", "enum": ["check_in", "check_out"] },
          "location": { "type": "string", "nullable": true },
          "comment": { "type": "string", "nullable": true }
        }
      },
      "LogAttendanceResult": {
        "type": "object",
        "required": ["success", "type", "message"],
        "properties": {
          "success": { "type": "boolean" },
          "type": { "type": "string", "enum": ["check_in", "check_out"] },
          "message": { "type": "string", "example": "Recorded your check-in." }
        }
      }
    }
  }
}
